djangodocker/
Cloud concepts.pptx 
Cloud_Platform_Programming_TABA_Repeat.docx 
Lab_Work_Python.pptx 
Topic 2 - Intro to Interacting with the Cloud.pptx 
Tutorial_Creating_a_Python_Library.pdf 
github-git-cheat-sheet.pdf
